.container{
	width: calc(100% - 393px);
	display: flex;
	flex-direction: column;
	padding: 52px 64px 162px 64px;
}
.container__header{
	font-size: 28px;
}
.container__list{
	
}
.container__btn{
	display: flex;
	align-items: center;
	width: 64px;
	justify-content: space-between;
}
.container__btn_prev,
.container__btn_next{
	display: flex;
	color: #3C474C;
	height: 12px;
	width: 7px;
	background-color: rgb(254, 254, 255);
	border: rgb(254, 254, 255);
	padding: 0;
}
.container__btn_page{
	font-size: 16px;
	color: #000000;
}
.container__btn_prev :hover{
	color: #347CFF;
}

.container__btn_next :hover{
color: #347CFF;
}

.container__btn_elementNext{
	
}
