.container{
	border-left: 1px solid #A5A5A5;
	padding-right: 32px;
	width: 393px;
}
.sidebar{
	margin-top: 52px;
		padding-left: 33px;
}
.sidebar__header{
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 48px;
}
.sidebar__inputName_item{
	padding-bottom: 7px;
	border-bottom: 1px solid #A5A5A5;
	margin-bottom: 41px;
	width: 100%;
}
.sidebar__inputCheckbox{
	padding-bottom:144px;
	width: 100%;
}
.sidebar__inputCheckbox_itemText{
	font-size: 14px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.4);
}
.sidebar__inputCheckbox_item{
	border-bottom: 1px solid #A5A5A5;
	padding-bottom: 7px;
	color: transparent;
  text-shadow: 0 0 0 black;
  width: 100%;
}
.sidebar__inputCheckbox_itemActive {
	border-bottom: 1px solid  #347CFF;;
	padding-bottom: 7px;
	color: transparent;
  text-shadow: 0 0 0 black;
  width: 100%;
}
.sidebar__inputActive{
	position: absolute;
	background: #FFFFFF;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23), 0px 3px 6px rgba(0, 0, 0, 0.16);
	width: 244.75px;

}

input::placeholder{
	font-size: 16px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.4);
}

.sidebar__inputRadio_text{
	font-size: 16px;
	font-weight: 700;
}



/* //input component */
.input{
display: flex;
margin: 16px 16px;
}
.input__text{
	margin-left: 13px;
}

input[type="checkbox"], input[type="radio"] {
	cursor: pointer;
}